<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
<body>
<h1>Modifier une issue</h1>
<form action="/detail/<%=issue._id%>" method="post" >
<input type="text" name="auteur" value="<%= issue.auteur %>" required>
<input type="text" name="probleme" value="<%= issue.probleme %>" required>
<input type="text" name="description" value="<%= issue.description %>" required>
<button type="submit">Mettre à jour</button>
<a href="/">Retour à la liste</a>
</form>
</body>
</html>